* {
    margin: 0;
    padding: 0;
}



body { 
    background-color: rgb(252, 245, 227)  ;
}

.main-content {
    min-height: 80vh;
}

.switch {
    display: flex;
    width: 100vw;
    height: 100px;
    justify-content: center;
    align-items: center;
}

.switch label{
    margin: 10px;
}

/*}
#light .switch {
    color: black;
}

#dark .switch {
    color: white;
}*/