.dark {
    background-color: #11303f;
    color: #fff;
}
.light {
    background-color: rgb(252, 245, 227);
    color: #333;
    
}

  .dark textarea {
    background-color: #174257;
    color: #d1d1d1;
  }

  .light textarea {
    background-color: white;
    color: black;
  }