.loginDiv { 
    margin-top: 5%;
    display: flex;
    align-items: center;
    justify-content: center;
    color:  #E9E2D0;
}

.loginForm { 
    background-color:  #614C2C;
    padding: 5%;
    border-radius: 30px;
    font-size: 20px;
}

.loginButtons { 
    background-color: #E9E2D0;
    color: #614C2C;
    border-radius: 10px;
    padding: 3px;
    border-color: #E9E2D0;
}