.kom-igang {
  text-align: center;
  margin-top: 2%;
  margin-bottom: 2%;
}

.personalpage-container {
    margin-top: 50px;

}

.anbefalt {
    text-align: center;
    margin-bottom: 20px;
    color: black !important;
}

.signin-placeholderForyou {
  text-align: center;

}

.foryouDiv {
  color:black !important;
}