#header{
  text-align: center;
  padding-top: 2%;
  padding-bottom: 5%;
}

#personal_info p{
  color: black;
  font-size: large;
  text-align: left;
 
}


#image {
  width: 20%;
  float: left;
  margin-left: 20%;
}

#personal_info {
  width: 55%;
  float: right;
  padding-top: 5%;
}
