
#header{
  text-align: center;
  padding-top: 2%;
  padding-bottom: 5%;
}

#profile {
margin-left: 20%;
margin-right: 20%;
}

#personal_info p{
  color: black;
  font-size: large;
  text-align: left;

}

#image {
width:45% ;
float: left;
}

#personal_info {
  width: 55%;
  float: right;
  padding-top: 5%;
  padding-bottom: 20%;
}

#button {
  margin-bottom: 2%;
}
#countrydropdown {
  font-size: 1em;
  margin-left: 2%;
  width: 30%;
  padding: 2%;
}

#tabs {
  float: left;
  margin-left: 20%;
  margin-right: 20%;
  width: 60%;
}




#lefttab{
  margin-left: 10%;
  float: left;
  border-top-left-radius: 40px;
  border-top-right-radius: 40px;
  font-size: 2em;
  padding: 15px 32px;
}

#righttab{
  margin-right: 10%;
  float: right;
  border-top-left-radius: 40px;
  border-top-right-radius: 40px;
  font-size: 2em;
  padding: 15px 32px;
}

#h_line{
  float: left;
  border-bottom: 5px solid #624b2d;
  width: 100%;
    align-self: center;
}

#feed {
  padding-top: 2%;
  width: 100%;
  float: left;
  display: flex;
  flex-direction: column;
  gap: 20px;

}