.tripscard p {
    color: black;
}

.card-content {
    background-color: #E9E2D0;
    width: 800px;
    border-radius: 20px;
    display: flex;
    justify-content: space-evenly;
    align-items: stretch;
}

.trip-info {
    display: flex;
    flex-direction: column;
    gap: 10px;

}

.card-right {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    margin: 50px 0;
    margin-left: 5%;
}

.card-left {
    display: flex;
    flex-direction: column;
    justify-content: center;
    margin-left: 5%;

}

.trip-image {
    width: 300px;
    height: 300px;
    border-radius: 10px;
    margin-right: 10%;
}

.trip-comments {
    background-color: #E9E2D0;
    height: auto;
    width: 800px;
}

.test {
    display: flex;
    flex-direction: column;
    align-items: center;
}

.comments-btn {
    border: none;
    background-color: transparent;
    cursor: pointer;
}

.tripBox { 
    background-color: #E9E2D0;
    padding: 10px;
    margin: 0 auto;
    /* max-width: 500px; */
    box-shadow: 0 10px 20px 0 rgba(0, 0, 0, 0.39);
}

#addTravelButton { 
    padding: 0;
    border: 0;
    width: 100%;
    height: 100%;
    background-color: #E9E2D0;
    font-size: 20px
}

#addTravelButton:hover { 
    font-weight: bold;
    cursor: pointer;
}

#formButton { 
    border-radius: 5px;
    padding: 5px;
    font-size: 15px;
    /* border: 0; */
    background-color: #624b2d;
    color: #E9E2D0;
    border-color: #624b2d;

}

#formButton:hover { 
    background-color: #E9E2D0;
    color: #624b2d;
    cursor: pointer;
    font-weight: bold;
    border-color:#E9E2D0;
    text-align: center;

}


