.tripscard p {
    color: black;
}

.card-content {
    background-color: #E9E2D0;
    width: 800px;
    border-radius: 20px;
    display: flex;
    justify-content: space-evenly;
    align-items: stretch;
}

.trip-info {
    display: flex;
    flex-direction: column;
    gap: 10px;

}

.card-right {
    display: block;
    float: left;
    flex-direction: column;
    justify-content: space-between;
    margin: 5% 0;
    margin-left: 5%;
    margin-right: 5%;
    width: 100%;
}

.card-left {
    display: flex;
    flex-direction: column;
    justify-content: top;
    margin-left: 5%;
    margin-top: 6%;
    margin-bottom: 6%;
    width: 80%;

}

.trip-image {
    width: 300px;
    height: 300px;
    border-radius: 10px;
    margin-right: 5%;
}

.trip-comments {
    background-color: #E9E2D0;
    height: auto;
    width: 800px;
    border-radius: 20px;
}

.test {
    display: flex;
    flex-direction: column;
    align-items: center;
}

.rating {
  width: 55%;
  float: left;
}
.app {
  float:left;
  width: 100%;
  margin-top: 2%;
}
.your-rating {
  float: left;
  font-style: italic;
  margin-top: 4%;
  margin-left: 3%;
  font-size: smaller
  }

.rating-btn {
  float: left;
  margin-right: 2%;
  margin-top: 2%;
  border-radius: 10px;
  padding: 6px;
  font-size: 15px;
  background-color: #624b2d;
  color:#E9E2D0;
  border-color: #E9E2D0;
}

.comments-btn {
    border: none;
    background-color: transparent;
    cursor: pointer;
    float: left;
    margin-top: 4%;
    width: 25%;
    color: gray;
}

.tripBox { 
    background-color: #E9E2D0;
    padding: 10px;
    margin: 0 auto;
    /* max-width: 500px; */
    box-shadow: 0 10px 20px 0 rgba(0, 0, 0, 0.39);
}

#addTravelButton { 
    padding: 0;
    border: 0;
    width: 100%;
    height: 100%;
    background-color: #E9E2D0;
    font-size: 20px
}

#addTravelButton:hover { 
    font-weight: bold;
    cursor: pointer;
}

#formButton { 
    border-radius: 5px;
    padding: 5px;
    font-size: 15px;
    /* border: 0; */
    background-color: #624b2d;
    color: #E9E2D0;
    border-color: #624b2d;

}

#formButton:hover { 
    background-color: #E9E2D0;
    color: #624b2d;
    cursor: pointer;
    font-weight: bold;
    border-color:#E9E2D0;
    text-align: center;

}

#likeButton { 
    border-radius: 5px;
    width: 105px;
    height: 10%;
    padding: 5px;
    margin-left: 50%;
    margin-bottom: 5%;
    font-size: 15px;
    /* border: 0; */
    background-color: #624b2d;
    color: #E9E2D0;
    border-color: #624b2d;
}

#likeButton:hover { 
    background-color: #E9E2D0;
    color: #624b2d;
    cursor: pointer;
    font-weight: bold;
    border-color:#E9E2D0;
    text-align: center;

}

#likeButton { 
    border-radius: 5px;
    width: 105px;
    height: 10%;
    padding: 5px;
    margin-left: 50%;
    margin-bottom: 5%;
    font-size: 15px;
    /* border: 0; */
    background-color: #624b2d;
    color: #E9E2D0;
    border-color: #624b2d;
}

#likeButton:hover { 
    background-color: #E9E2D0;
    color: #624b2d;
    cursor: pointer;
    font-weight: bold;
    border-color:#E9E2D0;
    text-align: center;

}

#editTrip {
    width: 3vh;
}

#deleteTrip {
    width: 5vh;
}

